<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="bg-body-secondary">
  @include('../../Layouts/NavBar.edge')
  <div class="d-flex justify-content-center" >
    <div class="row" style="width:90%" >
      @include('../../Home/LateralBar.edge')
      @!section('Home')
    </div>
  </div>
</body>
</html>