<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>


    @include('../Layouts/NavBar.edge')
    <main>
      <h1>Ola, {{user.nome}}! Bem vindo </h1>

      @if (estabelecimentos.length>0)
      @each(e in estabelecimentos)
      <p><a class="link-opacity-100" href="{{ route('estabelecimento.profile', { id: e.id }) }}">{{ e.nome_estabelecimento }}</a></p>
      @end
    @else
      <p>Nenhum valor encontrado no banco de dados.</p>
    @end
    @if(assoc.text=="Ocupado")
    <form  action="{{route('post.store')}}" method="POST"id="postagem">
        <div class="tab-content profile-tabs-content">
              <div class="tab-pane active" id="profile-overview" role="tabpanel">
                <div class="post-editor">
                    <textarea name="post" id="post" class="post-field" placeholder="Write Something Cool!"></textarea>
                    <div class="d-flex">
                        <button class="btn btn-success px-4 py-1" type="submit">Post</button>
                    </div>
                </div>
            </div>
                </div>
    </form>
    @end
    <form action="{{route('session.delete')}}" method="Get">
      <button class="btn btn-danger w-100 py-2" type="submit" >Sair</button>
    </form>
  </main>
</body>
</html>
