<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="{{route('cliente.createHome')}}">Feed</a>
        @if(assoc.associacao!=null)
          <a class="nav-item nav-link" href="{{route('estabelecimento.profile',{id:assoc.associacao.id_estabelecimento})}}">Meu Estabelecimento</a>
        @endif
        <a class="nav-item nav-link" href="#">Profile</a>
      </div>
    </div>
  </nav>
</body>
