<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('profile')
  @entryPointScripts('profile')
</head>
<body>
  @include('../../Layouts/NavBar.edge')
  <div class="padding">
    <div class="col-md-8">
        <!-- Column -->
        <div class="card">
           {{--  <img class="card-img-top" src="https://i.imgur.com/K7A78We.jpg" alt="Card image cap">  --}}
            <div class="card-body little-profile text-center">
                {{--  <div class="pro-img"><img src="https://i.imgur.com/8RKXAIV.jpg" alt="user"></div>  --}}
                <h3 class="m-b-0">{{user.nome_estabelecimento}}</h3>
                <p>
                @each(item in user.tipo)
                  @if(item== user.tipo[user.tipo.length-1])
                  {{item}}
                  @else
                    {{item}} |
                    @end
                @end
              </p>
                @if(assoc.text=="Livre")
                <form action="{{route('associacao.store')}}" method="POST">
                  <input type="hidden" name="id" value="{{user.id}}"/>
                  <button class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true" type="submit">Entrar</button>
                </form>

                @elseif(assoc.text=="Ocupado")
                <form method="POST"
                action="{{
                  route('associacao.destroy', {id:assoc.associacao.id}, { qs: { _method: 'DELETE' } })
                }}"
              >
                  <button class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" style=" background-color: red;" data-abc="true" type="submit">Sair</button>
                  </form>
                @else
                {{--  <form action="{{route('associacao.store')}}" method="POST">
                  <input type="hidden" name="id" value="{{user.id}}"/>
                  <button class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"  style=" background-color: orange;"data-abc="true" type="submit">Trocar para este Bar</button>
                </form>  --}}
                @end
                {{--  <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">10434</h3><small>Articles</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">434K</h3><small>Followers</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">5454</h3><small>Following</small>
                    </div>
                </div>  --}}
                @if(assoc.text=="Ocupado")
                <form  action="{{route('post.store')}}" method="POST"id="postagem">
                    <div class="tab-content profile-tabs-content">
                          <div class="tab-pane active" id="profile-overview" role="tabpanel">
                            <div class="post-editor">
                                <textarea name="post" id="post" class="post-field" placeholder="Write Something Cool!"></textarea>
                                <div class="d-flex">
                                    <button class="btn btn-success px-4 py-1" type="submit">Post</button>
                                </div>
                            </div>
                        </div>
                            </div>
                </form>
                @end

            </div>
        </div>
    </div>
</div>
</body>
</html>
