<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('profile')
  @entryPointScripts('profile')
</head>
<body class="bg-body-secondary">
  @include('../../Layouts/NavBar.edge')
  <div class="bg-white px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">{{user.primeiro_nome}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
         {{user.genero}} | {{ user.data_nascimento.diffNow('years').negate().toFormat('y')}}
      </p>
    </div>
  </div>


                {{--  <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">10434</h3><small>Articles</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">434K</h3><small>Followers</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">5454</h3><small>Following</small>
                    </div>
                </div>  --}}
                @if(assoc=="Ocupado")
                <form  action="{{route('post.store')}}" method="POST"id="postagem">
                  <div class="mb-2 alinhar-post">
                    <label for="TextArea" class="form-label"></label>
                    <textarea class="form-control"  name="post" id="post" rows="3" placeholder="Escreva alguma coisa"></textarea>
                    <button type="submit" class="btn btn-primary" style="float:right">Post</button>
                  </div>

                </form>
                @end
{{--
            </div>
        </div>  --}}

        @include('../../Layouts/ListarPosts.edge')

</body>
</html>
