<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <main class="form-signin w-100 m-auto">

    <form action="{{route('user.store')}}" method="POST">
      <img src="/imgs/VirtualBar.png" alt="" width="200" height="200"/>
      <h1 class="h3 mb-3 fw-normal">Crie seu Usuario</h1>

      <div class="form-floating">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="text-start my-3">
        <p><a class="link-opacity-100" href="{{route('session.create')}}">Voltar a tela de Login</a></p>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">CRIE</button>
      <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
    </form>
  </main>
</body>
</html>
